$background-laranja: #eb6912;
$background-degrade: #fff;

body {
  text-align: center;
  background: linear-gradient(
    to bottom,
    $background-laranja,
    $background-degrade
  );
  min-height: 100vh;
}
